
272 x 28
.texto1 {
    font-size: 16px;
    font-weight: bold;
}
h1 {
    color: #62b235;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}
.hide {
    display: none;
}
.cont_esquerda {
    float: left;
    width: 300px;
}
.recentes a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.recentes a:hover {
    text-decoration: underline;
}
.recentes {
    border-bottom: 1px dashed #999;
    display: block;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 266px;
}
.arquivos {
    background: rgba(0, 0, 0, 0) url("../../imagens/btn_arquivos.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 28px;
    margin-top: 3px;
    width: 278px;
}
.arquivos {
    color: #333;
    float: left;
    font-size: 14px;
    height: 25px;
    padding-left: 35px;
    padding-top: 5px;
    text-decoration: none;
}
.cont_direita {
    color: #333;
    float: left;
    font-size: 12px;
    height: auto;
    margin-left: 30px;
    width: 580px;
}
.tit_not {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.data {
    background: rgba(0, 0, 0, 0) url("../../imagens/linha.jpg") no-repeat scroll right center;
    color: #666;
    margin-bottom: 15px;
}
.not_img {
    float: left;
    height: 363px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: auto;
}
.cont_direita p {
    margin-bottom: 10px;
}
.tags {
    background: #81c15d none repeat scroll 0 0;
    float: left;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    width: auto;
}
.tags input {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background: none;
    border:none;
    cursor: pointer;
}
.tags_linha {
    height: auto;
    margin-bottom: 50px;
    width: 580px;
}
.comentarios {
    border-bottom: 1px dashed #999;
    height: auto;
    margin-top: 10px;
    padding-bottom: 1px;
}
.artigos_antigos {
    background: rgba(0, 0, 0, 0) url("../../imagens/back_artigos.jpg") repeat-x scroll 0 0;
    color: #81c15d;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 24px 0 -4px 163px;
    padding-bottom: 30px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
    width: 272px;
}
.cont_direita textarea {
    border: 1px solid #cccccc;
    height: 119px;
    max-height: 52px;
    max-width: 580px;
    min-height: 52px;
    min-width: 580px;
    width: 533px;
}
.botao {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}
.linha {
    margin-bottom: 30px;
}
.texto {
}
.titulo{
	margin-bottom:5px;
}