*{
	margin:0;
	padding:0;
}

.quebra {
    border: 0 none;
    clear: both;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

body{
	background:url(imagens/fundo_inf.jpg) repeat-x;
	background-color:#e3e3e3;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;	
	}
	
li {
	margin-left:20px;}


#tudo{
	background:url(../../imagens/fundo.jpg) no-repeat;
	width:100%;
	height:743px;
}
.centro{
	width:920px;
	height:auto;
	margin:0 auto;
}
.topo{
	height:102px;
	width:920px;
	float:left;
	}
.slogan{
	width:250px;
	height:42px;
	font-size:18px;
	float:left;
	text-align:center;
	text-shadow:2px 2px 2px #fff;
	margin-top:30px;
}
	
.logo {
	margin-top:13px;
	 margin-left:104px;
	 float:left	
}

.idioma {
	margin-top:30px;
	width:115px;
	height:48px;
	float: right;
	text-align:center;
	font-size:14px;
}

.banner-menu{
	width:920px;
	height:auto;
	float:left;
	position:relative;
}

#banner{
	height:317px;
	}
	
#banner img {
    position: absolute;
	z-index:auto;
	display:none;
}

.banner_interno{
	height:202px;
	margin-bottom:20px;
}

.menu{
	background:url(../../imagens/menu.png) no-repeat center;
	width:720px;
	height:41px;
	position:absolute;
	top:0;
	left:106px;
	z-index:999;
	}
	
.menu a, a:visited{
	color:#333333;
	font-size:12px;
	text-decoration:none;
	float:left;
	text-align:center;
	font-family:"butterunsalted";
	font-weight:bold;
	}
	
.menu a:hover{
	color:#333333;
	font-size:12px;
	text-decoration:none;
	float:left;
	text-align:center;
	font-family:"butterunsalted";
	font-weight:bold;
	text-decoration: underline;
	}

.sobre{
	margin-left:44px;
	width:85px;
	margin-top:7px;
}

.eduardo{
    margin-left: 5px;
    width: 105px;
	margin-top:7px;
}

.humana{
	margin-left:-3px;
	width:85px;
	margin-top:7px;
}
.animal{
	margin-left:-16px;
	width:85px;
	margin-top:7px;
}
.manual{
	margin-left:-10px;
	width:85px;
	margin-top:7px;
}

.blog{
	margin-left:-10px;
	width:85px;
	margin-top:15px;
}

.loja{
	margin-left:-1px;
	width:50px;
	margin-top:7px;
}
.contato{
	margin-left:11px;
	width:85px;
	margin-top:15px;
}

.conteudo_interno{
	margin-top:0px;
	height:auto;
	width:920px;
	font-size:12px;
}

.conteudo_interno p {
	margin-bottom:15px;
}

.rodape{
	background:#62b235;
	width:100%;
	height:30px;
	text-align:center;
	float:left;
	margin-top:40px;
}

.rodape p{
	color:#FFF;
	font-size:12px;
	margin-top:5px;
}
