@import "bootstrap";
   
// icons font awesome teste3
@import "iconsawesome/font-awesome";
@import "home";

// Módulos       
@import "modules/banner"; 
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/blog";
@import "modules/pagesperfis";
@import "modules/pagesobre";
@import "modules/pagequemsomos";
@import "modules/pagesaudehumana";
   
// scroll animation grano     
@import "scrollanimationgrano";     
 
// preloader ===================================================================
#loading-bar .bar {
  background: $brand-primary;  
}
// / preloader =================================================================

// Fonte site 
body{
  background-color: $body-bg;
  margin: 0;
  font-family: 'Hind', sans-serif;
}   

// Padrão para os títulos

h1, h2, h3, h4, h5, h6{
  color: $primary-color;
  font-family: 'Hind', sans-serif;
}

// Padrão de cor do parágrafo

p{
  color: $third-color;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Hind', sans-serif;
}

// Padrão de cor do link


// Padrão Botão

.btn-primary{
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  &:hover{
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: #fafafa !important;
  }
  &:active{
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: #fafafa !important;
  }
  &:focus{
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: #fafafa !important;
  }
}

// whitelabel

// Padrão para links;
a{
  &:hover{
    text-decoration: unset;
    color: $primary-color;
  }
}

// nav bar =====================================================================

#toggle-menu {
    width: 28px;
    height: 30px;
    margin: 10px auto;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 767.98px){
      display: none;
    }
}
 
#toggle-menu div {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: $primary-color;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle-menu.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle-menu.on .two {
  opacity: 0;
}

#toggle-menu.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-brand img{
  width: auto;
  max-width: 175px;
  margin-top: 20px;
  transition: .4s;
  -webkit-transition: .4s;
  @media (max-width: 767.98px){
    max-width: 150px;
    margin-top: 10px;
  }  
}

.navbar-toggle{
  margin-top: 29px !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $primary-color;
}

.navbar{    
  z-index: 10;
  height: auto;
  transition: .4s; 
  background-color: $body-bg;
  border-bottom: 1px solid #f1f1f1;
  @media (max-width: 767.98px){
    height: 90px; 
  }
  @media (max-width: 767.98px){ 
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.8);
  }
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 0em;
    background-color: #FAFAFA;
    padding-left: 2em; 
    @media(max-witdh: 575.98px){
      padding-top: 0;
    }
    @media(min-width: 768px) and (max-width: 799.98px){
      width: 100%;
      padding-left: 3em;
    }
    @media(min-width: 800px) and (max-width: 869.98px){
      width: 100%;
      padding-left: 4em;
    }
    @media(min-width: 870px) and (max-width: 991.98px){
      width: 100%;
      padding-left: 6em;
    }
    @media(min-width: 768px) and (max-width: 991.98px){
      width: 100%;
    }
    @media(min-width: 992px) and (max-width: 1100px){
      padding-left: 1em;
    }
  }
  a.navbar-brand{
    height: auto;
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          color: white;
          padding-top: 7px;
          text-align: center;
          background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        } 
      }
      &.facebook a{                   
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: $primary-color;
  cursor: pointer;
}
.navbar-default .navbar-nav>li>a{
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: rgba(0,0,0,.7);
  cursor: pointer;
  @media (min-width: 768px){
    padding: 10px;  
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    font-size: 12px;
    line-height: 16px;  
  }    
}
.nav>li{
  @media(max-width: 767.98px){
    display: -webkit-box;
  }
  @media(min-width: 768px) and (max-width: 991.98px){
    max-width: 95px;
  }
}
.navbar-header{
  margin-left: 40px;
  @media(max-width: 991.98px){
    margin-left: 0;
  }
  @media(min-width: 930px) and (max-width: 1200px){
    margin-left: 10px;
  } 
}

.navbar-header{

}
 
.navbar-nav{ 
  @media (min-width: 767.98px){
    position: absolute;
    right: 4%;
    top: 40%; 
  }  
}

@media (min-width: 992px){
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }  
} 
@media (min-width: 768px) and (max-width: 991.98px){
  #menu-item-20{
    margin-top: -18px;
  }
  #menu-item-22, #menu-item-43{
    margin-top: -8px;  
  }    
  #menu-item-21{
    margin-top: 0;
  }
}

// / nav bar ===================================================================



// Back to top =================================================================
.back-to-top {
    background-color: $primary-color;
    color: white !important;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 4%;
    display:none;
    border: none;
    z-index: 10;
}


// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}


// Blog ========================================================================


// / Blog ======================================================================

.owl-wrapper-outer{
  overflow: hidden;
}

#grano-carousel-conteudo .item{
  padding-top: 17em; 
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    padding-top: 7em;
  }
  @media screen and (max-width: 767.98px) and (orientation:portrait) {
    padding-top: 12em;
  }
}

#grano-carousel-conteudo{
  margin-bottom: 10em;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100%!important;
}

// / Footer ===================================================================

.grano-footer{
  height: auto;
  padding: 10px;
  width: 100%;
  background-color: #e5e5e5;
  p{
    text-align: center;
    font-size: 10px;
    margin: 0;
    a{
      text-decoration: underline;
      color: $primary-color;
      &:hover{
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}
