.container-home {
  text-align: center;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 54px;
}
.container-home img {
  max-width: 90px;
}
.container-home .pre-titulo {
  font-size: 18px;
  margin-top: 20px;
}
.container-home .btn {
  margin-top: 35px;
  width: 205px;
}

.link-sobre {
  color: #5a5a5a;
  text-decoration: underline;
  font-size: 12px;
}

.select {
  margin-top: 60px;
  background: unset;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid #55a54a;
}

.else-busca {
  margin: 0px 15px;
}
