.modal-contato{
  height: 100% !important;
  min-height: 100vh;
  h2{
      text-align: center;
      margin: 60px 0;
  }
  .col-sm-6{
    padding: 0 35px;
  }
  .wpcf7-form{
    input, textarea{
      border: 2px solid $primary-color;
      border-radius: 10px; 
      background: none;
      box-shadow: none;
      padding: 10px;
      outline: none;
      font-size: 16px;
      width: 100%;
      &:placeholder{
        font-size: 16px;
      }
    }
    textarea{
      height: 150px;
    }
  }
  .btn{
    background-color: $primary-color !important;
    color: white !important;
    &:hover{
      background-color: transparent !important;
      color: $primary-color !important;
    }
  }
  div.wpcf7-validation-errors{
    border: 2px solid red !important;
  }
  span.wpcf7-not-valid-tip{
    margin: 5px 15px !important;
  }
}

