.div-1-saudehumana{
	background-color: $primary-color;
	border-top: 2px solid #fafafa;
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	.col-sm-7{
		h3{
			color: #fafafa;
			font-weight: 500;
		}
		p{
			color: white;
			font-size: 20px;
    		line-height: 26px;
    		margin-bottom: 25px;
    		@media (max-width: 575.98px){
    			font-size: 18px;
    		}    		
			&:first-of-type{
				color: $second-color;
				font-size: 26px;
			    line-height: 32px;
			    font-weight: 700;
			    margin-bottom: 25px;
			    @media (max-width: 575.98px){
	    			font-size: 24px;
	    		}    
			}
		}
	}
	.col-sm-5{
		p{
			color: #fafafa;
		}
	} 
	.coluna-icon{
		.row{
		    margin-bottom: 35px;
			.count-p{
				font-size: 70px;
				font-weight: 500;
				margin-bottom: 20px;
				@media (max-width: 575.98px){
					font-size: 55px;
				}		
				@media (min-width: 768px) and (max-width: 991.98px){
					font-size: 53px;
					line-height: 45px;
					margin-bottom: 5px;
				}				
				@media (min-width: 992px) and (max-width: 1199.98px){
					font-size: 55px;
					line-height: 45px;
					margin-bottom: 5px;
				}								
			}
			&:first-of-type{
				img{
					float: left;
				    width: 125px;
				    margin-right: 35px;
				    @media (max-width: 575.98px){
				    	width: 105px;
				    	margin-left: 10px;
				    	margin-right: 30px;
				    	margin-bottom: 15px;
				    }
				    @media (min-width: 576px) and (max-width: 767.98px){
				    	margin-left: 21%;	
				    }
				    @media (min-width: 768px) and (max-width: 991.98px){
				    	margin-bottom: 75px;
					    margin-top: 45px;
					    width: 100px;
				    }				    				    				    
				}
			}
			&:nth-child(2){
				img{
					float: left;
				    width: 90px;
				    margin-right: 45px;
				    margin-left: 25px;
				    @media (max-width: 575.98px){
				    	width: 80px;
				    	margin-bottom: 70px;
				    }			
				    @media (min-width: 576px) and (max-width: 767.98px){
				    	margin-left: 25%;	
				    }	    
				    @media (min-width: 768px) and (max-width: 1199.98px){
				    	margin-left: 0;
    					margin-bottom: 60px;
				    }
				}
				.count-p{
					@media (max-width: 575.98px){
						line-height: 50px;
					    margin-bottom: 5px;
					    margin-top: -20px;
					}					
				}
			}
			&:last-of-type{
			    padding-top: 30px;
			    @media (max-width: 575.98px){
			    	padding-top: 0px;
			    }
			    @media (min-width: 576px) and (max-width: 767.98px){
			    	padding-top: 30px;	
			    }
			    @media (min-width: 768px) and (max-width: 1199.98px){
			    	padding-top: 0px;
			    }    			    			    			    			    			    			    
				img{
					float: left;
					width: 70px;
				    margin-top: -15px;
				    margin-right: 55px;
				    margin-left: 35px;
				    margin-bottom: 35px;
				    margin: -15px 55px 35px 35px;
				    @media (max-width: 575.98px){
				    	margin-bottom: 90px;
    					margin-top: 5px;
				    }	
				    @media (min-width: 576px) and (max-width: 767.98px){
				    	margin-left: 27%;
    					margin-bottom: 26px;	
				    }			    

				    @media (min-width: 768px) and (max-width: 1199.98px){
					    margin: -15px 49px 100px 15px;	
				    }				    
			    }
			    .count-p{
			    	line-height: 45px;
			    }
			}
			p{
				font-size: 15px;
    			margin-bottom: 30px;
			}
		}
	}	
}

.img-seta{
	max-width: 45px;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -22.5px;
    cursor: pointer;
    animation: 2s efeito-loop infinite;
    -webkit-animation: 2s efeito-loop infinite;
    @media (max-width: 767.98px){
    	top: 94%;
    	animation: none;
    	-webkit-animation: one;
    }    
}

@-webkit-keyframes efeito-loop{
  0%   { top: 80%; }
  50%  { top: 83%; }
  100% { top: 80%; } 
}
@Keyframes efeito-loop{
  0%   { top: 80%; }
  50%  { top: 83%; }
  100% { top: 80%; }   
}

.div-2-saudehumana{
	.titulo-div2{
	text-align: center;
	padding: 100px 0;
		p{
			color: $primary-color;
			&:first-of-type{
				font-size: 30px;
			    font-weight: 600;
			    margin-bottom: 75px;
			    line-height: 35px;
			    @media (max-width: 575.98px){
			    	margin-bottom: 25px;
			    }			    
			}
			&:nth-child(2){
				color: $second-color;
				font-size: 120px;
				margin-bottom: 50px;
				span{
					font-weight: 600;
				}
				@media (max-width: 575.98px){
					line-height: 90px;
    				font-size: 65px;
    				margin-bottom: 15px;
				}				
			}
			&:last-of-type{
				font-size: 20px;
			}
		}
	}
	.pre-titulo{
		font-size: 30px;
	    font-weight: 600;
	    margin-bottom: 65px;
	    line-height: 35px;
	    text-align: center;
	    color: $second-color;
	}
}

.table{
	td{
		width: 33.33%;
	    border: none !important;
	    padding-bottom: 45px !important;
	    padding: 0px 15px 45px!important;
	    @media (max-width: 575.98px){
	    	text-align: center;
	    	padding: 15px 4px !important;
	    }	    
	    @media (min-width: 576px) and (max-width: 991.98px){
	    	text-align: center;
	    }	    
		img{
			float: left;
			max-width: 50px;
			margin-right: 30px;	
			@media (max-width: 575.98px){
				float: unset;
				max-width: 30px;
				margin: 0 auto;
				display: block;
				margin-bottom: 20px;
			}		
			@media (min-width: 576px) and (max-width: 991.98px){
		    	float: unset;
			    display: block;
			    margin: 0 auto;
			    margin-bottom: 25px;
		    }		
		}
		p{
		@media (max-width: 575.98px){
			font-size: 12px;	
		}		
			&:first-of-type{
				color: $primary-color;
				font-size: 22px;
			    font-weight: 600;
			    margin-bottom: 2px;
			    display: inline-block;
			    @media (max-width: 575.98px){
			    	font-size: 14px;
			    }
			}
			&:nth-child(3){
				display: inherit;
				@media (max-width: 991.98px){
					display: block;	
				}				
			}
		}
		span{
			font-size: 13px;
		}
	}
}