p {
	color:#333;
}

.formulario{
	width:500px;
	height:auto;
	float:left;
}

.contato1{
	height:auto;
	float:left;
	margin-left:61px;
	color:#333;
}

.telefone1 {
	font-size:24px;
	font-weight:bold;
}
form {
	width:470px;
	color:#333;
}

form label {
	float:left;
	width:85px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:3px;
	font-size:14px;
	letter-spacing:1px;
	text-align:right;
	margin-right:10px;
	
}

form input {
	width:370px;
	height:23px;
	border:1px solid #cccccc;
	font-size:14px;
	
}
form input.ddd {
	width:39px;
}
form input.telefone {
	width:131px;
}
form textarea {
	width:370px;
	height:168px;
	border:1px solid #cccccc;
	font-size:14px;	
	}
	
form .botao {
	font-size: 16px;
	letter-spacing: 1px;
	background:url(../../imagens/botao.jpg) no-repeat;
    float: right;
    height: 25px;
    width: 85px;
	padding-bottom: 42px;
    border: 0 none;
	cursor:pointer;
	
}

.erro2 {
	font-size:14px;
    font-weight: bold;
	letter-spacing:1px;
    text-align: right;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    width: 300px;
}