h1{
	font-size:30px;
	color:#23810d;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
h2{
	font-size:24px;
	color:#23810d;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;
}

.conteudo{
	background:url(../../imagens/beneficios.jpg) no-repeat;
	margin-top:30px;
	height:193px;
	width:920px;
	float:left;
	text-align:center;
	font-size:14px;
}


.servicos{
	float:left;
	background: url(../../imagens/servicos.jpg) no-repeat;
	width:943px;
	height:212px;
	font-size:13px;
}

.servicos1{
	font-size:13px;
	width:600px;
	text-align:center;
	margin-left:170px;
}

.quadro1{
	margin-left:40px;
	width:289px;
	height:76px;
	margin-top:15px;
	float:left;
}
.quadro2{
	margin-left:10px;
	width:289px;
	height:76px;
	margin-top:15px;
	float:left;
}

.quadro3{
	margin-left:10px;
	width:270px;
	height:76px;
	margin-top:15px;
	float:left;
}


