p {
	font-size:12px;
	margin-bottom:5px;
	margin-left:20px;
	margin-right:20px
}

.img_quem{
	width:212px;
	height:337px;
	float:left;
}

.quem_txt1 {
	width:690px;
	height:119px;
	float:left;
}

.quem_txt2 {
	width:441px;
	height:216px;
	float:left;
	margin-top:14px;
}

.olho{
	width:228px;
	height:216px;
	float:left;
	margin-bottom:45px;
}

.conteudo_quem{
	height:auto;
	width:920px;
	font-size:12px;
	margin-left: -21px;
}

.conteudo_quem p {
	margin-bottom:15px;
}

.destaque{
	background:url(../../imagens/destaque_quem.jpg) no-repeat;
	height:147px;
	width:921px;
	float:left;
	text-align:center;
	font-size:14px;
}

.destaque p{
	margin-top:36px;
	font-weight:bold;
}

	