@import "_variables";  

.container-home{
  text-align: center;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 54px;
  img{
    max-width: 90px;
  }
  .pre-titulo{ 
    font-size: 18px;
    margin-top: 20px; 
  }
  .btn{
    margin-top: 35px;
    width: 205px;
  }
}

.link-sobre{
  color: $third-color;
  text-decoration: underline;
  font-size: 12px;
}

.select{
  margin-top: 60px;
  background: unset;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid $primary-color;
}

.else-busca{
  margin: 0px 15px;
}