
.carousel-home{
	.carousel-inner>.item{
		height: 500px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width: 767.98px){
			height: 400px;
		}		
		.conteudo{
			text-align: center;
			position: relative;
			padding: 150px;
			z-index: 1;
			@media (max-width: 767.98px){
				padding: 75px 25px;
			}			
			h2{
				font-weight: unset;
				color: #fafafa;
				margin-top: 0;
			}
			.btn{
				margin: 25px auto;
				display: block;
				width: 17%;
				padding: 10px 40px;
				@media (max-width: 575.98px){
					padding: 10px 20px;
				}				
				@media (max-width: 767.98px){
					padding: 10px 28px;	
					width: 50%;
				}				
				@media (min-width: 768px) and (max-width: 991.98px){
					padding: 10px 25px;	
					width: 45%;
				}	
				@media (min-width: 992px) and (max-width: 1199.98px){
					padding: 10px 25px;	
					width: 25%;
				}										
			}
		}
	}
	.carousel-indicators{
		z-index: 1;
		@media (max-width: 575.98px){
			margin-bottom: 1px;
		}		
	}	
	.carousel-indicators li{
		width: 60px;
	    height: 5px;
	    margin: 0;
	    border-radius: 0px;
	    background-color: #fafafa;
	    border: none;
	    @media (max-width: 767.98px){
	    	width: 40px;
	    }	    
	}
	.carousel-indicators .active{
		width: 60px;
	    height: 5px;
	    margin: 0;
	    border-radius: 0px;
	    background-color: $primary-color !important;
	    border: none;
	    @media (max-width: 767.98px){
	    	width: 40px;
	    }	
	}
	.carousel-control{
		background: unset;
	}
	.glyphicon-chevron-right{
		img{
			transform: rotate(180deg);
		}
	}
}

.post-destaque{
	position: relative;
	height: 600px;
	margin-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 767.98px){
		height: auto;
	}	
	p{
		color: white;
		&:nth-last-child(2){
			font-size: 18px;
		    line-height: 24px;
		    margin-bottom: 60px;
		}
	}
	a{
		color: white;
		&:hover{
			color: white;
		}	
	}
	.lista-categoria{
	padding-left: 0;
		li{
			list-style: none;
		    color: $primary-color;
		    display: inline;
		    margin-right: 15px;
		}		
	}
	h2{
		color: #fafafa;
		margin: 10px 0 0 0;
		font-weight: unset;
	}
	.elements{
		padding: 65px;
		position: relative;
		z-index: 1;
		@media (max-width: 575.98px){
			padding: 25px;
		}		
		@media (min-width: 576px) and (max-width: 767.98px){
			padding: 75px;
		}		
	}
	.btn{
		padding: 10px 40px;
		color: #55a54a;
		font-size: 16px;
	}
}

.mask-banner{
	background: rgba(0,0,0,.4);
    width: 100%;
    height: 500px;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    @media (max-width: 767.98px){
    	height: 100%;
    }    
}

.mask{
	background: rgba(0,0,0,.5);
    width: 100%;
    height: 600px;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    @media (max-width: 767.98px){
    	height: 100%;
    }
}

.posts-destaques{
	padding: 25px;
	width: 100%;
	@media (max-width: 767.98px){
		padding: 5px;
		margin-bottom: 30px;
	}	
	@media (min-width: 768px) and (max-width: 991.98px){
		padding: 15px;
		margin-bottom: 20px;
	}	
	h3{
		color: $third-color;
		margin-top: 10px;
	}
	.btn{
		padding: 10px 40px;
    	margin-top: 16px;
    	color: #55a54a;
	}
	p{
		color: gray;
		&:last-of-type{
			font-size: 16px;
		    line-height: 22px;
		}	
	}
	a{
		color: gray;
		&:hover{
			color: gray;
		}
	}
}

.posts{
    margin-bottom: 30px;
	.img-thumb{
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media (min-width: 576px) and (max-width: 767.98px){
			height: 300px;
		}		
	}	
	btn{
		width: 100%;
	}
	.lista-categoria{
		padding-left: 0;
		margin: 15px 0 5px;
		li{
			list-style: none;
		    color: $primary-color;
		    display: inline;
		    margin-right: 15px;
		}
	}
	p{
		font-size: 18px;
    	line-height: 22px;
	}
	.btn{
		width: 100%;
	}
	.content{
		min-height: 100px;
		height: auto;
	}
}

.lista-categoria{
padding-left: 0;
	li{
		list-style: none;
	    color: $primary-color;
	    display: inline;
	    margin-right: 15px;
	   	font-weight: 500;
		font-size: 14px !important;
	}
}

.form-pesquisa{
	.form-group{
		width: 100%;
	    margin: 45px 0 60px;
	    padding: 0 15px;
		input{
			width: 100%; 
		    border: none;
		    border-radius: 0px;
		    border-bottom: 1px solid;
		    background-image: url(../img/search.png);
			background-repeat: no-repeat !important;
			background-position: right center !important;
			background-origin: content-box;
			background-color: unset;
			outline: none !important;
			box-shadow: unset;
			font-size: 18px;
			padding-left: 0;
			padding-bottom: 12px;
			&:active{
				outline: none !important;
				border: none;
				border-bottom: 1px solid;
				box-shadow: unset;
			}
			&:focus{
				outline: none !important;
				border: none;
				border-bottom: 1px solid;
				box-shadow: unset;
			}
		}
		input::-webkit-input-placeholder{
			font-family: 'Hind', sans-serif;
			font-size: 18px;
		}
		input::-moz-placeholder{
			font-family: 'Hind', sans-serif;
			font-size: 18px;
		}
		input:-ms-input-placeholder{
			font-family: 'Hind', sans-serif;
			font-size: 18px;
		}
		input:-moz-placeholder{
			font-family: 'Hind', sans-serif;
			font-size: 18px;
		}
	}
}
 
.single-blog{
	margin-top: 125px;
	.content-single{
		p{
			font-size: 18px;
			line-height: 22px;
		}
	}
}

.progress-container {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #e5e5e5;
}

.progress-bar {
  height: 4px;
  background: $primary-color;
  width: 0%;
}