.div-1-quemsomos{
	padding-top: 60px;
	.descricao-pessoas{
		cursor: pointer;
		margin-bottom: 20px;
		height: 325px;
		@media (max-width: 767.98px){
			height: auto;
		}		
		img{
			width: 100%;
		    margin-bottom: 7px;
		    height: 160px;
		    @media (max-width: 767.98px){
		    	height: auto;
		    }
		}
		p{
			color: $primary-color;
			&:first-child{
				font-weight: 500;
				margin-bottom: 0;
			}
			&:last-child{
				font-size: 11px;
				line-height: 16px;
				img{
					max-width: 10px;
				    max-height: 10px;
				    margin-right: 4px;
				    margin-top: 4px;
				}
			}
		}
		.email{
			color: $third-color;
			font-size: 12px !important;
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
}

.modal{
	padding: 0 !important;
	.indicador{
		margin: 0 0 120px 0;
		@media (max-width: 767.98px){
			margin: 0 0 25px;
		}		
	}
}

.modal-dialog{
	width: 100%;
    margin: 0;
}

.modal-content{
	border-radius: 0;
    height: 100vh;	
    @media (max-width: 767.98px){
    	height: 100%;
    }    
    .col-sm-5{
    	padding: 0px 50px 0 150px;
    	@media (max-width: 991.98px){
    		padding: 0;
    	}
        @media (min-width: 992px) and (max-width: 1199.98px){
            padding: 0 50px 0 50px;
        }            	
    	img{
    		width: 350px;
    		height: auto;
    		@media (max-width: 991.98px){
    			margin: 0 auto;
    			display: block;
    		}    		
    		@media (max-width: 399.98px){
    			width: 200px;
    		}
    		@media (min-width: 400px) and (max-width: 991.98px){
    			width: 300px;
    		}
    	}
    }
    .col-sm-7{
    	padding: 25px 50px;
    	@media (max-width: 767.98px){
    		padding: 25px 25px;
    	}    	
    	p{
    		line-height: 22px;
    		&:nth-child(1){
    			color: $primary-color;
    			font-size: 18px;
			    font-weight: 500;
			    margin-bottom: 5px;
    		}
    		&:nth-child(2){
    			color: $primary-color;
    			margin-bottom: 5px;
    		}
    	}
    }
    .sair{
    	position: absolute;
    	bottom: 5%;
    	left: 5%;
    	color: $primary-color;
    	font-size: 16px;
    	cursor: pointer;
    	@media (max-width: 767.98px){
    		position: relative;
    		bottom: 0;
    		margin-bottom: 30px;
    	}    	
    	&:hover{
    		text-decoration: underline;
    	}
    }
}