.indicador{
	text-align: center;
    background-color: $primary-color;
    padding: 15px;
    margin-top: 104px;
	@media (max-width: 767.98px){
		margin-top: 90px;
	}	
    p{
    	color: #fafafa;
	    font-size: 11px;
	    margin-bottom: 0;
    }
    span{
    	text-decoration: underline;
    }
}

.banner-fabricantes{
	background-image: url('../img/foto-fabricante.png');
}

.banner-hospitais{
	background-image: url('../img/foto-hospitais.png');	
}

.banner-distribuidores{
	background-image: url('../img/foto-distribuidor-saude.png');	
}

.banner-foto{	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;  
    height: 300px;
    padding-top: 235px;
    @media (max-width: 575.98px){
    	padding-top: 230px;
    }
    a{
    	margin: 0 5px;
    	font-size: 16px;
    	color: #fafafa;
    	border-color: #fafafa;
    	@media (max-width: 575.98px){
    		font-size: 10px;
    		margin: 5px 2px;
    	}    	
    	&:hover{
    		border-color: $primary-color;
    	}
    }
}

.botoes-perfil{
	cursor: pointer;
	display: inline-table;
	width: 130px;
    text-align: center;
    @media (max-width: 575.98px){
    	width: 90px;
    }    
	div{
		background-color: $primary-color;
	    border-radius: 5px;
	    padding: 30px;
	    width: 100px;
	    height: 100px;
	    margin-right: auto;
   		margin-left: auto;
   		transition: .4s;
		-webkit-transition: .4s;
		-moz-transition: .4s;
		-o-transition: .4s;
		@media (max-width: 575.98px){
			width: 80px;
	    	height: 80px;
	    	padding: 27px;
		}		
	    img{
	    	max-width: 40px;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		    @media (max-width: 575.98px){
		    	max-width: 30px;
		    }		    
	    }
	}
	p{
		font-size: 12px;
		text-align: center;
		color: $primary-color;
		margin-top: 10px;
	}
}

.div-botoes{  
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 55px;
    @media (max-width: 575.98px){
    	margin-top: 25px;
    }    
}

.content{
	position: relative;
	height: 300px;
	@media (max-width: 449.98px){
		height: 500px;
	}	
	@media (min-width: 450px) and (max-width: 1199.98px){
		height: 350px;
	}
	p{
		&:first-child{
			color: $second-color;		
		}
	}	
}

.content-out{
	position: absolute;
	top: 0;
	left: 0;
	padding: 50px 250px;
	@media (max-width: 767.98px){
		padding: 20px 5px;
	}
	@media (min-width: 768px) and (max-width: 991.98px){
		padding: 50px 150px;	
	}					
}

.item1 div{
	background-color: $second-color;
}

.item-aviao{
	div{
		padding: 40px 21px;
		img{
			max-width: 40px;
		}
		@media (max-width: 767.98px){
			padding: 30px 21px;
		}		
	}
}

.content2, .content3, .content4{
	display: none;
}