.col-6{
	float: left;
	width: 50%;
}

.div-1-sobre{
	padding-top: 60px;
	margin-bottom: 50px;
	@media (max-width: 767.98px){
		margin-bottom: 0px;
	}	
	.col-sm-8{
		h4{
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 60px;
		}
		p{
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.div-color-green{	
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
	p{
		color: $primary-color;
		font-size: 16px;
		&:nth-child(2){
			font-size: 75px;
			margin-bottom: 0;
			@media (max-width: 767.98px){
				font-size: 60px;
			}
		}
	}
}

.div-color-blue{
	text-align: center;
	font-weight: 700;
	margin-bottom: 50px;
	p{
		color: $second-color;
		font-size: 16px;
		&:nth-child(2){ 
			font-size: 75px;
			margin-bottom: 0;
			@media (max-width: 767.98px){
				font-size: 60px;
			}			
		}
	}
}

.count{
	padding: 25px 0px;	
	@media (max-width: 767.98px){
		padding: 20px 0px;	
	}	
}

.div-2-sobre{
	margin-bottom: 50px;
	h3{
		font-weight: 700;
	}
	.titulo{
		text-align: center;
		margin-bottom: 75px;
		@media (max-width: 767.98px){
			margin: 0 auto;
		}		
		p{
			font-weight: 700;
			font-size: 16px;
		}	
	}
	.col-sm-7{
		div{
			background-image: url('../img/ilustra-fafafa.jpg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 600px;
			@media (max-width: 767.98px){
				height: 300px;
				animation: none !important;
			}			
		}
	}
	.col-sm-5{ 
		@media (max-width: 767.98px){
			animation: none !important;	
		}	
		p{
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.titulo{
	text-align: center;
}

.div-3-sobre{
	padding-bottom: 50px;
	.col-sm-9{
		position: relative;
		background-image: url('../img/mapa-mundi.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 600px;
		@media (max-width: 767.98px){
			height: 300px;
		}		
	}
	.titulo{
		padding: 0px 370px;
		@media (max-width: 575.98px){
			padding: 0px 15px;
		}
		@media (min-width: 576px) and (max-width: 767.98px){
			padding: 0px 80px; 	
		}					
		@media (min-width: 768px) and (max-width: 991.98px){
			padding: 0px 200px;
		}								
	}
	.endereco{
		margin-bottom: 20px;
		cursor: pointer;
		opacity: .4;
		-wikit-transition: .4s;
		-moz-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
		p{
			font-size: 13px;
			margin-bottom: 5px;
			&:first-child{
				color: $primary-color;
			}
			&:last-child{
				color: $primary-color;
			}
		}
	}
	.endereco-usa{
		opacity: 1;
	}
	.bullet{
		background-color: $primary-color;
		color: white; 
		width: 12px;
		height: 12px;
		position: relative;
		border-radius: 50%;
		cursor: pointer;
		animation: animate 2s linear infinite;
		-webkit-transition: .4s;
		-moz-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
		&:hover{
			animation: none;
		}
	}
	.bullet-usa{
		top: 45.5%;
    	left: 21%;
    	background-color: $second-color;
    	@media (min-width: 650px) and (max-width: 689.98px){
    		top: 44.5%;
    		left: 22%;
    	}
    	@media (min-width: 690px) and (max-width: 767.98px){
    		top: 44.5%;
    		left: 24%;
    	} 
	}
	.bullet-br{
		top: 66%;
		left: 33%;
		@media (max-width: 499.98px){
			top: 57%;
			left: 31%;
		}
		@media (min-width: 500px) and (max-width: 575.98px){
			top: 63%;
			left: 32%;
		}		
		@media (min-width: 576px) and (max-width: 649.98px){
			top: 67%;
			left: 33%;
		}
		@media (min-width: 650px) and (max-width: 729.98px){
			top: 67%;
			left: 35%;
		}		
		@media (min-width: 730px) and (max-width: 767.98px){
			top: 67%;
			left: 37%;
		}	
		@media (min-width: 768px) and (max-width: 991.98px){
			top: 58%;
		}
		@media (min-width: 992px) and (max-width: 1199.98px){
			top: 62%;
		}			
	}
	.bullet-mex{
		top: 46%;
		left: 17%;
		@media (max-width: 575.98px){
			top: 42%;
			left: 14%;
		}		
		@media (min-width: 576px) and (max-width: 649.98px){
			top: 43%;
			left: 16%;
		}		
		@media (min-width: 650px) and (max-width: 689.98px){
			top: 43%;
			left: 18%;
		}
		@media (min-width: 690px) and (max-width: 719.98px){
			top: 43%;
			left: 20%;
		}
		@media (min-width: 720px) and (max-width: 767.98px){
			top: 43%;
			left: 22%;
		}

	}
	.bullet-cost{
		top: 50%; 
    	left: 22.5%;
    	@media (max-width: 575.98px){
    		top: 41%;
    		left: 19.5%;
    	}    	
    	@media (min-width: 576px) and (max-width: 649.98px){
    		top: 45%;
    		left: 20.5%;
    	}    	
    	@media (min-width: 650px) and (max-width: 689.98px){
    		top: 44%;
    		left: 22.5%;
    	} 
    	@media (min-width: 690px) and (max-width: 739.98px){
    		top: 44%;
    		left: 24.5%;
    	} 
    	@media (min-width: 740px) and (max-width: 767.98px){
    		top: 44%;
    		left: 26.5%;
    	} 
    	@media (min-width: 768px) and (max-width: 1199.98px){
    		top: 47%;
    		left: 21.5%;
    	}
	}
	.bullet-chin{
		top: 40%;
		left: 79%;
		@media (max-width: 575.98px){
			top: 31%;
			left: 78%;
		}		
		@media (min-width: 576px) and (max-width: 649.98px){
			top: 31%;
    		left: 79%;
		}		
		@media (min-width: 650px) and (max-width: 709.98px){
    		top: 30%;
    		left: 76%;
    	} 
    	@media (min-width: 710px) and (max-width: 767.98px){
    		top: 30%;
    		left: 74%;
    	} 
	}
}

@keyframes animate{
	0% { box-shadow: 0 0 0 0 rgba(85, 165, 74, .7), 0 0 0 0 rgba(85, 165, 74, .7); }
	40% { box-shadow: 0 0 0 15px rgba(85, 165, 74, .0), 0 0 0 0 rgba(85, 165, 74, .0); }
	80% { box-shadow: 0 0 0 15px rgba(85, 165, 74, .0), 0 0 0 5px rgba(85, 165, 74, .0); }
	100% { box-shadow: 0 0 0 0 rgba(85, 165, 74, .0), 0 0 0 5px rgba(85, 165, 74, .0); }
}

@-webkit-keyframes animate{
	0% { box-shadow: 0 0 0 0 rgba(85, 165, 74, .7), 0 0 0 0 rgba(85, 165, 74, .7); }
	40% { box-shadow: 0 0 0 15px rgba(85, 165, 74, .0), 0 0 0 0 rgba(85, 165, 74, .0); }
	80% { box-shadow: 0 0 0 15px rgba(85, 165, 74, .0), 0 0 0 5px rgba(85, 165, 74, .0); }
	100% { box-shadow: 0 0 0 0 rgba(85, 165, 74, .0), 0 0 0 5px rgba(85, 165, 74, .0); }
}