test {
}

.navbar.navbar-light.navbar-expand-md {
  background-color:#fafafa;
  border-bottom:1px solid #ececec;
  font-size:0.8em;
}

.banner-background {
  background-image:url(../img/Grano-banner-01.jpg);
  background-size:cover;
}

#banner {
  margin-top:0;
  color:#fafafa;
  text-align:left;
}

@media (max-width: 768px) {
  #banner {
    margin-top:40px; 
    color:#fafafa;
    text-align:center;
  }
}

#banner h1 {
  font-weight:600;
  font-size:4em;
  margin-top: 0;
  height: 67px;
}

#banner h1, #banner p {
  color:#fff;
}

#banner p{
  font-size: 16px;  
}

.container-fluid.banner-granostudio-bg {
  background-image:url(../img/Grano-banner-01.jpg);
  height:100vh;
}

.margem-topo {
  margin-top:60%;
}

.row.padding-banner {
  padding-top:18%;
}

.btn-primary {
  color:#fff;
  background-color:#68A852;
  border-color:#68A852;
}

.btn-primary:hover {
  color:#fff;
  background-color:#E0B43B;
  border-color:#E0B43B;
}

