.single-blog{
    margin-top: 100px;
}

.categorias{
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  li{
      list-style: none;
      display: inline;
      margin-right: 20px;
      a{
        color: #555;
        &:hover{
          color: $primary-color;
          transition: .4s;
          -wiki-transition: .4s;
        }
      }
  }
  @media (max-width: 470.98px){
    margin-top: 25px;
    margin-left: 0; 
  }
  @media (min-width: 552px) and (max-width: 767.98px){
    margin-top: 37px;
    padding-left: 19px;
  }
}

.form-pesquisa{
  display: inline;
  float: right;
  margin-bottom: 25px;
  input{
    width: 200px;
    border: none;
    border-radius: 0px;
    box-shadow: unset;
    outline: none !important;  
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s; 
    &:focus{
    	border: none;
    	box-shadow: unset;
    	border-bottom: 1px solid $primary-color;
    	outline: none !important;    
    }
    @media (max-width: 767.98px){
      float: left;
      width: 100%;
    }
  }
  label{
    @media (max-width: 767.98px){
      display: flex;
      padding-top: 15px;
    }
  }
  @media (max-width: 767.98px){
    float: right;
    width: 100%;
  }
  .action-button{
    border-radius: 25px;
    color: white;
    padding: 5px 20px;
  }
} 
