@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

/* CONTEÚDO */
.parte1,
.parte2{
	width:300px;
}

.parte1{
	margin-left:-255px;
	float:left;
	
}

.parte2{
	margin-right:-185px;
	float:right;	
}
	.parte2 .multiplos{
		width:100%; height:auto;
		margin-bottom:5px;
		padding-bottom:10px;
		border-bottom:1px solid #666;
		float:left;
	}
	#certificados{
		margin-top:40px;
	}
	
		#conteudo .parte2 .multiplos h2{
			width:auto;
			margin:3px 0 0 0;
			color:#182665;
			float:left;
		}	
			.parte2 .multiplos img{
				margin:0 4px 0 -25px;
				float:left;
			}
			
			.parte2 .multiplos p{
				width:100%;
				font-size:12px;
				margin-bottom:10px;
				float:left;	
			}
			
			.parte2 a.cadastrar{ margin:18px 0 0 0; }
			
			.parte2 .multiplos hr{
				width:100%; height:1px;
				border:none;
				background:#666;
				margin-bottom:10px;
				float:left;
			}
			
			.parte2 .box_novo{
				width:0px; height:1px;
				overflow:hidden;
				float:left;
			}
			.box_novo.show{ width:100%; height:100px; }