@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

/* FONT-FACE ----------------------------------------------
@font-face {
	font-family: 'Univers';
	src: url('../fontes/univers/univers_light_condensed.eot');
	src: local('univers_light_condensed.ttf'), url('../fontes/univers/univers_light_condensed.woff') format('woff'), url('../fontes/univers/univers_light_condensed.ttf') format('truetype'), url('../fontes/univers/univers_light_condensed.eot') format('eot'), url('../fontes/univers/univers_light_condensed.afm') format('afm'), url('../fontes/univers/univers_light_condensed.otf') format('otf'), url('../fontes/univers/univers_light_condensed.svg') format('svg'), url('../fontes/univers/univers_light_condensed.svgz') format('svgz');
} */


/* CONFIGURAÇÕES GERAIS */
*{
	margin:0px;
	padding:0px;
	font-family:Helvetica, Arial, sans-serif;
}

body{
	font-size:15px;
	background:url(../../imagens/background.jpg) repeat-y #F0F0F0;
	position:relative;
}
a{ color:#949599; text-decoration:none; }
a:hover{ text-decoration:underline; }
a img{ border:none; }

hr.quebra{
	width:100%; height:1px;
	background:#c9cacb;
	margin:0 6px 8px 6px;
	border:none;
	clear:both;
	float:left;
}

h4{
	width:99%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:1px;
	background:#2A619F;
	font-weight:normal;
	font-size:13px;
	padding:5px;
	color:#FFF;
	float:left;	
}
h4.states{ background:#BBB; }

/* MENU */
#menu_back{
	width:222px; height:100%;
	border-left:1px #444 solid;
	background:url(../../imagens/menu_back.png) repeat;
	top:0px; left:8px;
	position:absolute;
	z-index:0;
}
#menu{
	width:192px; height:auto;
	background:url(../../imagens/menu_back_top.png) repeat-x;
	padding:15px;
	position:absolute;
	margin-left:8px;
}
	#menu h2#ola{
		width:100%; height:auto;
		text-align:right;
		font-weight:500;
		margin-top:40px;
		font-size:12px;
		color:#0E5392;
		float:left;
	}
	#menu h2#ola span{ color:#CCCCCC; }
	
	#menu .links_rapidos{
		width:100%; height:auto;
		text-align:right;
		margin-top:30px;
		font-size:13px;
		color:#CCCCCC;
		float:left;
	}
		#menu .links_rapidos a{
			color:#000;
			float:right;
		}
		#menu .links_rapidos a:hover{ color:#FFF; text-decoration:none; }
		#menu .links_rapidos span{
			color:#888888;
			margin:0 5px;
			float:right;
		}
		
	#menu .modulos{
		width:100%; height:auto;
		margin:30px 0;
		float:left;
	}
		#menu .modulos .modulo{
			width:100%; height:auto;
			margin-bottom:12px;
			text-align:right;			
			float:left;			
		}
			#menu .modulos .modulo h2{
				width:194px; height:23px;
				background:url(../../imagens/menu_azul.png) right top no-repeat;
				padding:10px 12px 0 0;
				margin:0 -15px 0 0;
				font-weight:500;
				cursor:default;
				font-size:15px;
				color:#FFF;
				float:right;
			}
			#menu .modulos .modulo.ativo h2{ color:#333333; background-position:right bottom; }
			
			#menu .modulos .modulo ul{
				width:100%; height:auto;
				list-style:none;
				float:left;
			}
				#menu .modulos .modulo ul li{
					width:100%; height:auto;
					font-size:13px;
					color:#CCC;
					float:right;					
				}
				#menu .modulos .modulo ul li.ativo{
					padding-right:15px;
					margin-right:-15px;
					background:url(../../imagens/menu_seta.gif) right 13px no-repeat;
				}
					#menu .modulos .modulo ul li a{
						cursor:pointer;
						padding:5px 0 3px 20px;
						color:#000;
						float:right;
					}
					#menu .modulos .modulo ul li a:hover{ color:#FFF; text-decoration:none; }
			
/* CONTEÚDO */
#geral{
	min-width:690px; height:100%; min-height:575px;
	background:url(../../imagens/conteudo_background.jpg) 0 0 no-repeat;
	padding:40px 30px 30px 30px;
	margin:0 0 0 230px;
	position:relative;
	z-index:0;
}
	#geral h2.bem_vindo{
		width:100%; height:auto;
		font-size:26px;
		float:left;
	}
	#geral h3.o_que_fazer{
		width:100%; height:auto;
		margin:15px 0 10px 0;
		font-weight:500;
		font-size:17px;
		color:#555555;
		float:left;
	}
	
	#geral #atalhos{
		width:100%; height:auto;
		margin:10px 0 30px 0;
		float:left;
	}
		#atalhos a{
			width:124px; height:124px;
			border:1px solid #CCC;
			background:#f7f7f7;
			position:relative;
			margin:0 12px 0 0;
			text-align:center;
			border-radius:7px;
			font-size:13px;
			color:#555555;
			float:left;
		}
		#atalhos a:hover{ background:#FFF; color:#C1AA00; }
			#atalhos a img{ width:50px; height:50px; margin:20px 37px 10px; float:left; }
			#atalhos a img.novo{ top:0px; left:10px; position:absolute; }
			
			#atalhos a span{
				width:100%; height:auto;
				line-height:18px;
				float:left;
			}
			
			/* ALERTAS, ERROS, NOTIFICAÇÕES */
			div.notificacao,
			div.validation{
				width:100%; height:auto;
				background:no-repeat 10px 12px;
				border-radius:10px;
				border:1px solid;
				cursor:default;
				font-size:13px;
				margin:5px 0;
				color:#585b66;
				float:left;
			}
			div.validation{
				width:29%; height:auto; min-height:29px;
				background:no-repeat 10px 5px;
				margin:0px;
				float:right;
			}
			div.notificacao{ margin-bottom:15px; }
			
			div.notificacao.login{ border-color:#222; background-image:url(../../imagens/icones/notificacoes/aviso.png); background-color:#8F8F8F; color:#FFF; }
			div.notificacao.sucesso,
			div.validation.sucesso{ border-color:#9adf8f; background-image:url(../../imagens/icones/notificacoes/valido.png); background-color:#d5ffce; }
			div.notificacao.erro,
			div.validation.erro{ border-color:#df8f8f; background-image:url(../../imagens/icones/notificacoes/invalido.png); background-color:#ffcece; }
			div.notificacao.alerta,
			div.validation.alerta{ border-color:#e6db55; background-image:url(../../imagens/icones/notificacoes/aviso.png); background-color:#fffbcc; }
			div.notificacao.info,
			div.validation.info{ border-color:#dbe3ff; background-image:url(../../imagens/icones/notificacoes/info.png); background-color:#a2b4ee; }
			
				div.notificacao span{ padding:14px 16px 14px 35px; float:left; }
				div.validation span{ padding:7px 16px 5px 35px; float:left; }
				
span.retorno{
	width:100%;
	margin:2px 0 0 0;
	font-size:12px;
	color:#F00;
	clear:both;
	float:left;
}

.info_valor{
	background:#FFC;
	font-size:12px;
	padding:7px 10px;
	border-radius:5px;	
}

/*PRODUTOS*/
.produtos{
	width:100%; height:auto;
	margin-top:20px;
	float:left;	
}
	.produtos h2{
		width:100%;
		font-size:16px;
		margin:3px 18px 0 0;
		float:left;
	}
	.produtos .pdbloq.titulo h2{ width:70%; font-size:14px; margin-left:5px; }
	.produtos .pdbloq.titulo p{ width:auto; float:right; }
	
	.produtos .pdbloq.titulo{ cursor:pointer; }
	.produtos .pdbloq.titulo.amarelo-yellow{ cursor:default; }
	
	.produtos .pdbloq.titulo.amarelo-yellow h2{ color:#FFF; }
	.produtos .pdbloq.titulo.amarelo-yellow p{ color:#CCC; font-size:13px; }
	
	.produtos .pdbloq.termos span{ color:#666; font-size:13px; margin:2px; float:left; }
	.produtos .pdbloq.termos a{ font-size:12px; float:right; cursor:pointer; margin:3px; }

	.produtos .pdbloq{
		width:70%; height:auto;
		border:1px solid #CCC;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin:1px 0 0 0;
		padding:3px;
		float:left;
	}
	.produtos .pdbloq.item.none{ display:none; }
	.produtos .pdbloq.titulo{ background:#E6E6E6; }
	.produtos .pdbloq.titulo.amarelo-yellow{ background:#275B96; }
	
		#conteudo .pdbloq small{
			margin:3px 0 0 0;
			color:#275B96;
			font-size:11px;
			float:right;
			clear:both;
		}
	
		#conteudo .pdbloq label{ width:79%; margin:2px 0 0 5px; }
		#conteudo .pdbloq input{ float:left; }
		
		#conteudo .pdbloq input[type=text]{ width:60px; height:16px; color:#666; padding:0 3px; font-size:12px; float:right; }
		#conteudo .pdbloq input[type=checkbox]{ width:20px; margin:0px; }
		
		.produtos .pdbloq p.retorno,
		.produtos .pdbloq.termos span.retorno{ width:100%; color:#F00; float:left; font-size:13px; margin:2px 5px 0 26px; clear:both; }

		
small.pendentes{
	width:110px;
	margin-top:-16px;
	font-size:11px;
	float:right;	
}
		
.conteudo .comentarios{
	width:100%;
	margin-top:6px;
	background:#FF6;
	float:left;	
}