@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

body{
	background:url(../../imagens/background.jpg) repeat;
}

/* CONTEÚDO */
#login{
	width:100%; height:auto;
	min-width:980px; min-height:600px;
	float:left;
}
	#login h2{
		font-size:16px;
		margin-bottom:10px;
		color:#999999;
		float:left;
	}

	#login #topo{
		width:100%; height:206px;
		background:url(../../imagens/background_transparencia.gif);
		border-bottom:1px #343434 solid;
		margin-bottom:30px;
		text-align:center;
		float:left;
	}
		#topo img{ margin-top:70px; }
		
	#login #conteudo{
		width:100%; height:auto;
		padding:0 0 150px 0;
		float:left;
	}
	
	/* FORM LOGIN */
	form{
		width:300px; height:auto;
		margin:0px auto;
	}
	form#cadastro{ width:360px; padding-right:70px; }
		form label{
			width:60px; height:26px;
			margin:7px 10px 7px 0;
			font-size:12px;
			color:#FFF;
			clear:both;
			float:left;
		}
		form#cadastro label{ width:120px; margin-top:2px; text-align:right; }
		form label.full{ width:100%; margin-bottom:0px; }
		
		form input,
		form select,
		form textarea{
			width:224px; height:26px;
			border-radius:6px;
			font-size:13px;
			padding:0 3px;
			border:0px;
			margin:0 0 7px 0;
			float:left;
		}
		form textarea{ max-width:224px; min-width:224px; min-height:60px; }
		
			form input[type="file"]{
				width:100%;
				margin-top:-10px;
				font-size:12px;
			}
			
			form input[type="submit"]{
				width:auto; height:21px;
				background:url(../../imagens/form_button.png) repeat-x;
				padding:0 3px;
				margin-top:15px;
				cursor:pointer;
				color:#FFF;
				float:right;
			}
			
#links_ajuda{
	width:300px;
	position:relative;
	margin:-5px 50% 40px 50%;
	left:-150px;
	float:left;
}
	#links_ajuda a{
		width:140px;
		text-align:center;
		padding:10px 0px;
		background-color:#999;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color:#CCC;
		float:left;
	}
	#links_ajuda a.right{ float:right; }
	
	#links_ajuda a:hover{ text-decoration:none; background-color:#CCC; color:#FFF; }
			
span.retorno{
	margin:-5px 0 5px 130px;
}
			
a.cadastrar{
	margin:12px 0 0 0;
	font-size:13px;
	color:#333;
	float:left;
}