@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

hr.multiform{
	width:100%; height:5px;
	border:none;
	border-top:2px solid #EDD000;
	border-bottom:2px solid #EDD000;
	background:none;
	float:left;
}

#valor_previo{
	width:70%;
	font-size:13px;
	margin-top:5px;
	text-align:right;
	color:#666;
	float:left;
}

/* FORMULÁRIOS */
.tabela{
	width:100%; height:auto;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-radius:10px;
	background:#FFF;
	float:left;
}
	.tabela h3{
		height:27px;
		background:url(../../imagens/form_titulo.png) repeat-x;
		border-radius:10px 10px 0 0;
		border-bottom:1px solid #CCC;
		padding:13px 15px 0 15px;
		font-size:18px;
	}
	.tabela .tab_content{ margin:20px; }
		
		/* TÍTULOS */
		.tabela .tab_content form label{
			width:100%; height:auto;
			margin-top:20px;
			font-weight:600;
			font-size:13px;
			color:#555555;
			float:left;
		}
		span.label{
			font-size:13px;
			color:#555555;
			margin:8px 10px 0 3px;
			float:left;			
		}
		
		/* CAMPOS */
		.tabela .tab_content form input[type="text"],
		.tabela .tab_content form input[type="password"],
		.tabela .tab_content form input[type="tel"],
		.tabela .tab_content form input[type="file"],
		.tabela .tab_content form textarea,
		.tabela .tab_content form select{
			width:70%; height:21px;
			background:url(../../imagens/form_input.png) repeat-x #FFF;
			border:1px solid #CCC;
			border-radius:4px;
			font-size:13px;
			padding:3px 0;
			float:left;
		}
		.tabela .tab_content form select{ height:29px; }
		
		.tabela .tab_content form input[type=radio],
		.tabela .tab_content form input[type=checkbox]{
			width:14px; height:14px;
			margin:7px 2px 0 2px;
			float:left;
		}
		
		/* TEXTAREA PERSONALIZADO */
		.nicEdit-tools{
			border-radius:4px;
			float:left;
		}
			.nicEdit-tools .nicEdit-panelContain{ padding:3px 0; }
			
		.nicEdit-textarea{ background:#FFF; margin-bottom:10px; float:left; }
		
		/* INFORMAÇÕES COMPLEMENTARES */
		small.preenchimento_info{
			width:70%;
			position:relative;
			margin:5px 0 5px 0;
			font-size:11px;
			float:left;
		}
		
		/* IMAGENS UPLOAD */
		#response{ float:left; }
		#upload_image{
			width:29%; max-height:250px;
			margin:10px 0;
			clear:both;
			float:right;			
		}
			#upload_image img{ max-width:100%; }
		
		/* BOTÕES */
		.tabela .tab_content form input[type="button"],
		.tabela .tab_content form input[type="submit"]{
			width:auto; height:23px;
			background:url(../../imagens/form_button.png) repeat-x;
			border:1px solid #03C;
			margin:20px 0;
			font-size:13px;
			border-radius:4px;
			padding:2px 6px;
			cursor:pointer;
			clear:both;
			color:#FFF;
			float:left;
		}
		.tabela .tab_content form input[type="button"]{ margin-left:10px; clear:none; }
		
/* REGISTROS */
p{
	margin:3px 0 0 0;
	color:#666;
	float:left;
}

.bloco_categoria,
.bloco_registro{
	width:100%; height:auto;
	margin-bottom:10px;
	float:left;
}
	.bloco_categoria h2.titulo,
	h2.super_title{
		height:auto;
		border-radius:10px 10px 0 0;
		border:1px solid #9CBED3;
		padding:8px 8px 5px 8px;
		background:#E6F0F7;
		font-size:14px;
		cursor:default;
		color:#666;
	}
	h2.super_title{ width:98%; background:#903; color:#FFF; border-radius:10px; margin-bottom:5px; border:#2F0910 1px solid; float:left; }
	
	.bloco_categoria .registro,
	.bloco_registro .registro{
		width:100%; height:auto; 
		margin-bottom:1px;
		background:#f5f7f5;
		float:left;
	}
		.bloco_categoria h2.titulo a{ margin:0 3px; float:right; }
		
	.bloco_categoria .registro:hover,
	.bloco_registro .registro:hover,
	.bloco_registro .registro.ativo{ background:#d9f3f9; }
		
		.registro .conteudo{ min-height:14px; padding:5px 5px 10px 5px; border:1px solid #c4c4c4; border-top:none; }
		.bloco_registro .registro .conteudo{ border-top:1px solid #CCC; }
			
			.registro p{
				width:90%; height:auto;
				cursor:default;
				font-size:13px;
				color:#666;
				float:left;
			}
			
			.registro a,
			.registro img.icone{
				width:16px; height:16px;
				margin-right:5px;
				float:right;
			}
		
	.bloco_categoria span.no_regs,
	.bloco_registro span.no_regs{
		border:1px solid #ffd298;
		background:#fff5cc;
		font-size:12px;
		border-top:none;
		color:#837c11;		
		display:block;
		padding:5px;
	}
	.bloco_registro span.no_regs{ border-top:1px solid #ffd298; }
	
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* FILTRAR */
#filtragem{
	width:100%;
	float:left;	
}
	#filtragem h2{
		width:100%;
		margin:0px;
		font-size:16px;
		float:left;
	}
	
	#filtragem form{ width:350px; margin:-10px 0 40px 0; float:left; }
	
		#filtragem form label{
			float:left;
		}
		#filtragem form input[type="submit"]{
			margin:3px;
			clear:none;
			float:left;
		}

/* IMAGENS */
.registro .conteudo.menor p{ width:75%; }
.regImg{
	width:80px; height:22px;
	border:dotted 1px #CCC;
	margin:-2px 10px 2px -2px;
	overflow:hidden;
	float:left;	
}
.regImg a{ width:100%; margin:0px; float:left; }
.regImg img{ width:100%; }

.atual{
	width:120px; height:60px;
	position:absolute;
	overflow:hidden;
	right:0px;
}
.atual img{ width:100%; }