@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

/* CONTEÚDO */
#conteudo .novidades{
	width:100%; height:auto;
	margin:25px 0 0 30px;
	float:left;
}
	.novidade{
		width:484px; height:auto;
		margin:0 12px;
		float:left;
	}
	.novidade.unico{ width:230px; }
	
		.novidade h2{
			width:100%; height:auto;
			margin-bottom:8px;
			font-weight:400;
			color:#1b2e77;
			float:left;			
		}
		
		.novidade.unico p{
			font-size:14px;
			line-height:19px;
			font-weight:100;
			color:#6d6e71;
			float:left;
		}
		
		.novidade a{
			width:230px; height:auto;
			margin:0 24px 0 0;
			float:left;
		}
		.novidade a.last{ margin:0px; }
		
			.novidade a span{
				width:100%; height:auto;
				line-height:19px;
				float:left;
			}
				.novidade a span.data{ color:#6d6e71; font-size:12px; }
				.novidade a span.titulo{ text-decoration:underline; font-weight:800; color:#128944; font-size:14px; }
				.novidade a span.texto{ width:auto; text-decoration:underline; color:#128944; font-size:12px; }
				.novidade a span.texto small{ color:#6d6e71; font-size:11px; }
				
			.novidade a:hover span{ text-decoration:none; }