@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

*{
	font-family:Tahoma;	
}

#imprimir{
	margin:0 0 15px 0;
	color:#666;
	float:left;	
}

#detalhes_pedido{
	width:820px; height:auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:#F1F1F1;
	padding:8px;
	clear:both;
	float:left;
}
	#detalhes_pedido h2{
		margin:10px 0 5px 0;
		font-size:18px;
		text-decoration:underline;
		color:#E4051F;
		float:left;
	}
	#detalhes_pedido h2.first{ margin-top:0px; }

	#detalhes_pedido p{
		width:100%;
		margin:0 0 2px 0;
		clear:both;
	}
	
	#detalhes_pedido strong{
		clear:both;	
	}

	#detalhes_pedido .produto{
		width:100%;
		border:1px solid #999;
		float:left;	
	}
		#detalhes_pedido .produto p{
			margin:0px;
			padding:3px;
			font-size:14px;
			float:left;
			clear:none;
		}
		#detalhes_pedido .produto p.nome{ width:280px; }
		#detalhes_pedido .produto p.quantidade{ width:105px; }
		#detalhes_pedido .produto p.vasilhame{ width:80px; }
		#detalhes_pedido .produto p.valor{ width:125px; }
		#detalhes_pedido .produto p.icms{ width:80px; }
		#detalhes_pedido .produto p.total{ width:95px; }
		
		#detalhes_pedido .produto.titulos p{ font-weight:bold; }
		
		#detalhes_pedido .produto.componente p{ color:#F60; }
		
small.termo{
	margin:5px 0 5px 505px;
	text-align:right;
	clear:both;
	float:left;	
}