@charset "UTF-8";
/* DESENVOLVEDOR - EDWIN B. PANCOTI */

*{
	font-family:Tahoma;	
}

#imprimir{
	margin:0px;
	color:#666;
	float:left;	
}


#produtos_lista{
	width:800px;
	margin:10px 0;
	padding:3px;
	font-size:14px;
	float:left;
	clear:both;
}
	#produtos_lista tr{
		width:100%; height:auto;
		float:left;
	}
	#produtos_lista tr.titulos{
		background-color:#FFC;
	}
		#produtos_lista .produto{ width:300px; }
		#produtos_lista .descricao{ width:215px; }
		#produtos_lista .volume{ width:76px; }
		#produtos_lista .valor_si{ width:94px; }
		#produtos_lista .valor_ci{ width:94px; }