body.contato,body.trabalhe-conosco{
  padding-top: 106px;
  .bg-contato{
    background: $body-bg;
    @media (min-width: $screen-md-min){
    background-image: url('../img/contato-bg.jpg');
    }
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -25px;
    .mask{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $body-bg;
      @media (min-width: $screen-md-min){
          background-color: $text-color;
      }
      @include opacity(.7);
    }
  }
  .contato-0{
    margin-bottom: 0;
  }
  .btn{
    float:right;
  }
  textarea{
    height: 147px !important;
  }
  .col-lg-8{
    background: $body-bg;
    padding-bottom: 20px;
  }
}
.wpcf7-form{
  label{
    width: 100%;
    input,textarea{
      width: 100%;
    }
  }
}
.wpcf7-form-control-wrap{
  @extend .form-group;
  .wpcf7-form-control{
    @extend .form-control;
  }
  .wpcf7-not-valid-tip{
    @extend .alert;
    @extend .alert-danger;
    border-radius: 0;
  }
}
.wpcf7-submit{
  @extend .btn;
  @extend .btn-default;
}
.wpcf7-validation-errors{
  @extend .alert;
  @extend .alert-danger;
  border-radius: 0;
  background-color: $state-danger-bg !important;
  border-color: $state-danger-border !important;
  border-width: 1px !important;
}
