.maturidade-de-gestao-hospitalar{

.referencia{
  text-align: right;
  margin-top: 50px;
  width: 85%;
  float: right;
  p{
    // font-size: 17px;
  }
  b{
    font-size: 17px;
  }
  .autor{
    font-size: 16px;

  }
}

.titulo{
  margin-top: 91px !important;
  h1{
    padding-top: 35px !important;
  }
  .textoT{
    font-size: 15px;
    text-align: center;
    color: white;
    padding-top: 7px;
  }
  @media screen and (min-width: 371px){
    h1{
      padding-top: 80px !important;
    }
  }
  @media screen and (min-width: 768px){
    margin-top: 91px !important;
  }
  @media screen and (min-width: 1000px){
    margin-top: 99px !important;
  }
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.texto{
  // font-size: 19px;
  text-align: justify;
  line-height: 42px;
  @media screen and (min-width: 768px){
    line-height: 35px;
  }
  @media screen and (min-width: 1200px){
    line-height: 42px;
  }
}

.row1{
  width: 100%;
  height: auto;
  display: inline-block;
}



.coluna2{
  display: inline-block;
  width: 100%;
  padding-right: 15px;
  margin-left: 15px;
  margin-top: 330px;
  @media screen and (min-width: 768px){
    width: 50%;
    height: 520px;
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    padding-right: 0px;
  }
  @media screen and (min-width: 1200px){
    height: 390px;
  }
}

.colunaT{
  margin-top: 330px;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: 768px){
    margin-top: 0px;
  }
}

.editado{
  position: relative;
  padding-left: 0px;
  width: 100%;
  .coluna1{
    position: absolute;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    @media screen and (min-width: 768px){
      width: 50%;
      transform: skewX(-18deg);
      margin-left: -18%;
      height: 470px;
    }
    @media screen and (min-width: 992px){
      height: 350px;

    }
    @media screen and (min-width: 1200px){
      transform: skewX(-25deg);
      height: 250px;
    }
    .fundo{
      background-image: url('../img/fundo3.png');
      height: 250px;
      width: 100%;
      background-position: center;
      background-size: cover;
      @media screen and (min-width: 768px){
        transform: skewX(18deg);
        margin-left: 30%;
        height: 450px;
      }
      @media screen and (min-width: 1200px){
        margin-left: 30%;
        transform: skewX(25deg);
        height: 320px;
      }
    }
  }
}

.rowb{
  margin-bottom: 100px;
}
.ponto{
  margin-right: 15px;
  @media screen and (min-width: 768px){
    display: none;
  }
}
.esquerda{
  font-size: 19px;
  margin-top: -13px;
  @media screen and (min-width: 768px){
    position: absolute;
    margin-top: -27px;
    right: 50%;
  }
  @media screen and (min-width: 1200px){
    position: absolute;
    margin-top: -13px;
    right: 58%;
  }
  .p1{
    @media screen and (min-width: 768px){
      width: 70%;
      text-align: right;
    }
    @media screen and (min-width: 1200px){
      width: 100%;
      text-align: right;
    }
  }
  .p2{
    @media screen and (min-width: 768px){
      margin-top: 23px;
      text-align: right;
      margin-right: 30%;
    }
    @media screen and (min-width: 1200px){
      margin-top: 42px;
      margin-right: 0;
    }
  }
}

.associacao{
  position: absolute;
  left: 50%;
  margin-left: -80px;
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

.direita{
  position: absolute;
  font-size: 19px;
  @media screen and (min-width: 768px){
    left: 64%;
    margin-top: -13px;
    .p4{
      margin-top: 43px;
    }
  }
  @media screen and (min-width: 1200px){
    left: 58%;
  }
}

.comparacao{
  margin-bottom: 50px;
  h1{
    left: 50%;
    margin-left: -18px;
    font-size: 40px;
    margin-top: 8px;
    color: #33BB9C;
    position: absolute;
    @media screen and (min-width: 768px){
      margin-top: 15px;
    }
    @media screen and (min-width: 1200px){
      margin-top: 8px;
      font-size: 50px;
    }
  }
  .hesquerda{
    position: absolute;
    font-size: 15px;
    @media screen and (min-width: 768px){
        right: 55%;
        font-size: 24px;
    }
  }
  .hdireita{
    position: absolute;
    left: 55%;
    font-size: 15px;
    @media screen and (min-width: 768px){
        font-size: 24px;
        left: 54%;
    }
  }
}

.hesquerda2{
  font-size: 22px;
  margin-top: 45px;
  display: block;
  margin-bottom: -15px;
  @media(min-width: $screen-sm-min){
    display: none;
  }
}

.gesquerda{
  border-right: 0px;
  @media(min-width: $screen-sm-min){
    border-right: 1px solid #33BB9C;
  }
}
.divesquerda{
  margin-top: 50px;
  @media screen and (min-width: 768px){
    text-align: right;
    width: 80%;
    margin-left: 10%;
  }
  @media screen and (min-width: 1200px){
    margin-left: 22%;
    width: 70%;
  }
  .titulop{
    color: #33BB9C;
    font-size: 20px;
    margin-left: 45px;
    @media screen and (min-width: 768px){
      margin-left: 0px;
    }
  }
  p{
    font-size: 17px;
  }
  .img1{
    position: absolute;
    width: 30px;
    top: 70px;
    @media screen and (min-width: 768px){
      right: 210px;
      width: 6%;
      top: 60px;
    }
  }
  .img2{
    position: absolute;
    width: 30px;
    @media screen and (min-width: 768px){
      right: 180px;
      width: 6%;
      margin-top: 8px;
    }
  }
  .img3{
    position: absolute;
    width: 30px;
    margin-top: 21px;
    @media screen and (min-width: 768px){
      right: 300px;
      width: 6%;
      margin-top: 5px;
    }
  }
  .img4{
    position: absolute;
    width: 30px;
    margin-top: 6px;
    @media screen and (min-width: 768px){
      right: 260px;
      width: 6%;
      margin-top: 5px;
    }
  }
}
.divdireita{
  width: 100%;
  margin-top: 50px;
  @media screen and (min-width: 768px){
    margin-left: 10%;
    width: 80%;
  }
  @media screen and (min-width: 1200px){
    margin-left: 8%;
    width: 70%;
  }
  .titulop{
    color: #33BB9C;
    font-size: 18px;
    margin-left: 45px;
    @media screen and (min-width: 768px){
      margin-left: 50px;
      font-size: 20px;
    }
  }
  p{
    font-size: 16px;
    @media screen and (min-width: 768px){
      font-size: 17px;
    }
  }
  .img5{
    position: absolute;
    width: 30px;
    @media screen and (min-width: 768px){
      width: 6%;
      top: 55px;
    }
    @media screen and (min-width: 1200px){
      top: 50px;
    }
  }
  .img6{
    position: absolute;
    width: 30px;
    margin-top: 5px;
    @media screen and (min-width: 768px){
      width: 6%;
      margin-top: 30px;
    }
    @media screen and (min-width: 992px){
      width: 6%;
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px){
      margin-top: 5px;
    }
  }
  .img7{
    position: absolute;
    width: 30px;
    margin-top: -8px;
    @media screen and (min-width: 768px){
      width: 6%;
      margin-top: 3px;
    }
    @media screen and (min-width: 1200px){
      width: 6%;
      margin-top: -8px;
    }
  }
}

.row4{
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #33BB9C;
  margin-top: -7px;
  @media screen and (min-width: 768px){
    height: 400px;
  }
  @media screen and (min-width: 1200px){
    height: 400px;
  }
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    background-size: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,.2));
  }
  .atencao{
    width: 90%;
    text-align: center;
    position: absolute;
    margin-top: 7%;
    z-index: 9999;
    margin-left: 15px;
    @media screen and (min-width: 768px){
      width: 50%;
      margin-left: 27%;
    }
    @media screen and (min-width: 1200px){
      width: 60%;
      left: 50%;
      margin-left: -404px;
    }
    h2{
      color: white;
      font-size: 40px;
    }
    p{
      font-size: 15px;
      padding-top: 15px;
      color: white;
      @media screen and (min-width: 768px){
        font-size: 22px;
        padding-top: 10px;
      }
    }
  }
}

.faixa{
  width: 60%;
  height: 20px;
  background-color: #374E5A;
  @media screen and (min-width: 768px){
    width: 45%;
  }
}

}
